.page-menu {
  padding: var(--page-padding);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: auto;
  gap: 10px;
  align-items: center;
  justify-items: center;
}
.menu-item {
  background-color: var(--background-color);
  color: var(--secondary-text-color);
  width: 90%;
  height: 90%;
  min-height: 460px;
  border: 4px solid var(--background-color);
  border-radius: 25px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  overflow: hidden;
  font-size: 1rem;
  font-weight: 100;
  text-align: center;
}
.menu-item > div:nth-child(2) {
  height: 100%;
}
.menu-item img {
  width: 100%;
  height: 100%;
  max-height: 180px;
  margin-bottom: 4%;
  object-fit: cover;
}
.menu-item h3 {
  margin: var(--zeroMargin);
  font-size: 2.3rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.menu-item p {
  margin: var(--zeroMargin);
  padding: 0 4%;
}
.menu-item .menu-p-one {
  color: var(--primary-text-color);
}
.menu-item .menu-p-two {
  margin-top: 6%;
  text-transform: uppercase;
}
.menu-item ul {
  margin: var(--zeroMargin);
  padding: 0;
  list-style: none;
  text-transform: uppercase;
}
.show-ingredients {
  background-color: #ff8839;
  width: 60%;
  height: 30vh;
  margin: 2%;
  margin-top: 25%;
  padding: 2%;
  border: 5px double black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
}
.show-ingredients > div {
  height: 80%;
}
.show-ingredients > div h2 span {
  color: var(--tertiary-text-color);
}
.show-ingredients .btn {
  color: #ff0000;
  width: 32px;
  height: 32px;
  margin: var(--zeroMargin);
  padding: 0;
  border-radius: 50%;
  align-self: flex-end;
}
.show-ingredients .btn svg {
  font-size: 2rem;
}
